---
import '../main.css'
import NavElTiempo from '@/components/NavElTiempo.astro'
import Head from '@/components/Head.astro'
import BlockPopovers from '@/components/BlockPopovers.astro'
const metaTitle = 'Previsión: tormentas. resultado: ropa seca'
const metaDescription = 'Secar la ropa puede ser casi tan imprevisible como el propio cielo. Mientras en unas regiones la humedad retrasa la colada durante días, en otras basta un soplo de viento para dejarla lista.'
---

<!doctype html>
<html lang="es-ES">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="robots" content="noindex,nofollow" />
		<title>{metaTitle}</title>
		<meta property="description" content={metaDescription} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="/" />
		<meta property="og:image" content="/thumbnail.png" />
		<meta property="og:title" content={metaTitle} />
		<meta property="og:description" content={metaDescription} />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:image" content="/thumbnail.png" />
		<meta property="twitter:title" content={metaTitle} />
		<meta property="twitter:description" content={metaDescription} />
		<link rel="icon" href="/favicon.png" />
		<Head />
	</head>
	<body>
		<div id="smooth-wrapper">
			<div id="smooth-content">
				<NavElTiempo />
				<main><slot /></main>
			</div>
		</div>

		<BlockPopovers />

		<script src="../main.ts"></script>
	</body>
</html>
